[package]
name = "decancer_native"
version = "3.1.2"
edition = "2021"
publish = false

[lib]
name = "decancer"
crate-type = ["cdylib"]

[dependencies]
decancer = { path = "../../core", default-features = false }
paste = "1"

[features]
default = ["options", "leetspeak"]
options = ["decancer/options"]
leetspeak = ["decancer/leetspeak"]