html {
  --font-family: 'Inter';
  --font-family-monospace: 'Roboto Mono';
  --top-height: 150px;
  --searchbar-border-radius: 0;
}

#MSearchField {
  padding: 0 10px;
}

#projectname a,
div.header .title,
h1,
h2.groupheader {
  font-weight: 900;
}

div.contents {
  margin: 0 auto var(--spacing-medium) auto;
  padding-bottom: var(--spacing-large);
}

.see a {
  font-family: var(--font-family-monospace);
  font-size: var(--memname-font-size);
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

#apitype,
h2.groupheader,
#projectbrief {
  user-select: none;
}

h2.groupheader {
  box-shadow: none;
}

#apitype,
#api-not-found,
.see dd a {
  font-weight: bold;
}

#projectbrief {
  padding-bottom: 10px;
}

#top {
  border-bottom: none;
}

#top,
#apis {
  overflow-x: hidden;
}

#apis {
  background-color: #191a1c;
  overflow-y: auto;
}

#apis,
#apitype,
#api,
.note dd {
  font-size: var(--memname-font-size);
}

dl.section dd {
  margin-bottom: 0;
}

#apitype {
  color: white;
}

#apilist {
  padding-left: calc(var(--spacing-large) + 10px);
  padding-right: var(--spacing-large);
}

#apilist:last-child {
  margin-bottom: 35px;
}

#api {
  font-family: var(--font-family-monospace);
  display: block;
  color: var(--primary-color);
}

#apitype {
  padding: calc(var(--spacing-medium) - 5px) var(--spacing-large);
}

#api-not-found {
  font-size: var(--page-font-size);
  text-align: center;
  margin-top: 50px;
}

#MSearchBox {
  right: 0;
}

@media (width <= 1169px) {
  div.contents .textblock h1 a {
    display: none;
  }
}

@media (width >= 1170px) {
  div.contents .textblock h1 a {
    display: inline-block;
  }
}

@media (width <= 767px) {
  #MSearchBox {
    width: calc(100% - var(--spacing-medium) + var(--spacing-small));
    margin-top: 0;
  }

  div.memproto {
    padding: calc(var(--spacing-medium) / 2);
  }

  div.fragment {
    padding: calc((var(--spacing-large) - (var(--spacing-large) / 6)) / 2)
      calc(var(--spacing-large) / 2);
  }

  #titlearea {
    background-color: var(--side-nav-background);
  }

  html {
    --searchbar-background: var(--page-background-color);
    --code-font-size: 13px;
  }

  html,
  body,
  .top-enabled {
    position: relative;
    height: 100%;
  }

  #apis {
    position: relative;
    height: calc(100% - var(--top-height) + 29px);
  }
}

@media (width >= 768px) {
  html,
  body {
    overflow: auto;
    position: relative;
    height: 100%;
  }

  #apis {
    position: relative;
    height: calc(100% - var(--top-height) + var(--spacing-large));
  }

  #top {
    position: sticky;
    top: 0;
    height: 100%;
  }

  #doc-content {
    position: relative;
    top: calc(var(--top-height) - 17px - 100%);
    padding-top: 0;
    height: 100% !important;
  }

  #MSearchBox {
    width: calc(var(--side-nav-fixed-width) - calc(4 * var(--spacing-medium)));
  }
}

html,
div.header .title {
  visibility: hidden;
}

hr,
.permalink,
.footer,
#MSearchSelect,
#MSearchBox .right {
  display: none;
}
