**/node_modules/
**/package-lock.json
**/Cargo.lock
**/*.node
**/target/
*.bin
*.json

bindings/native/*.exe
bindings/native/*.dll
bindings/native/*.lib
bindings/native/*.obj
bindings/node/src/lib.js
bindings/node/src/lib.d.ts
bindings/node/index.js
bindings/node/index.d.ts
bindings/node/artifacts/
bindings/wasm/pkg/

# CI creates temporary files in the root dir
.prettierrc.json
.prettierignore
package.json