**/node_modules/
**/package-lock.json
**/Cargo.lock
**/*.node
**/target/

bindings/native/*.exe
bindings/native/*.dll
bindings/native/*.lib
bindings/native/*.obj
bindings/node/artifacts/
bindings/wasm/pkg/

.expected.json
output.json
output.bin

# CI can create random files in the root dir
package.json