[package]
name = "decancer"
version = "1.5.1"
edition = "2021"
authors = ["null (https://github.com/null8626)"]
description = "A tiny package that removes common confusables from strings."
readme = "../node/README.md"
repository = "https://github.com/null8626/decancer"
license = "MIT"
keywords = ["unicode", "string", "moderation", "confusables"]
