[package]
name = "decancer"
version = "3.1.2"
edition = "2021"
authors = ["null (https://github.com/null8626)"]
description = "A tiny package that removes common unicode confusables/homoglyphs from strings."
readme = "README.md"
repository = "https://github.com/null8626/decancer"
license = "MIT"
keywords = ["security", "unicode", "homoglyphs", "moderation", "confusables"]
categories = ["parsing", "text-processing", "value-formatting"]
exclude = ["rustfmt.toml"]
rust-version = "1.64.0"

[dependencies]
paste = "1"
serde = { version = "1", default-features = false, optional = true }
regex = { version = "1", default-features = false, features = ["std", "perf"], optional = true }
lazy_static = { version = "1", optional = true }

[features]
default = ["options", "leetspeak"]
options = []
leetspeak = ["regex", "lazy_static"]

[dev-dependencies]
proptest = { version = "1", default-features = false, features = ["std"] }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
criterion = { version = "0.5", default-features = false }
rand = "0.8"

[[bench]]
name = "decancer_bench"
harness = false

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]
rustc-args = ["--cfg", "docsrs"]