[package]
name = "decancer"
version = "1.5.5"
edition = "2021"
authors = ["null (https://github.com/null8626)"]
description = "A tiny package that removes common confusables from strings."
readme = "README.md"
repository = "https://github.com/null8626/decancer"
license = "MIT"
keywords = ["unicode", "string", "moderation", "confusables", "homoglyph"]
categories = ["parsing", "text-processing", "value-formatting"]
exclude = ["rustfmt.toml"]
