[package]
name = "decancer_wasm"
version = "3.2.4"
edition = "2021"
publish = false

[lib]
crate-type = ["cdylib"]

[dependencies]
decancer = { path = "../../core" }
wasm-bindgen = { version = "0.2.8", default-features = false, features = ["std"] }