[package]
name = "decancer_wasm"
version = "3.3.0"
edition = "2021"
publish = false

[lib]
crate-type = ["cdylib"]

[dependencies]
decancer = { path = "../../core" }
wasm-bindgen = { version = "0.2.9", default-features = false, features = ["std"] }
console_error_panic_hook = "0.1.7"