[package]
name = "decancer_wasm"
version = "1.6.1"
edition = "2021"
authors = ["null (https://github.com/null8626)"]
description = "A tiny package that removes common confusables from strings."
repository = "https://github.com/null8626/decancer"
license = "MIT"
keywords = ["unicode", "string", "moderation", "confusables", "homoglyph"]
publish = false

[lib]
crate-type = ["cdylib"]

[dependencies]
wasm-bindgen = { version = "0.2", default-features = false, features = ["std"] }
decancer = { path = "../../core" }