name: on commit workflow
on:
  push:
    branches:
      - main
    tags-ignore:
      - '**'
    paths:
      - '.github/workflows/commit.yml'
      - '**/src/**/*.rs'
      - '**/README.md'
      - 'mod.ts'
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ATiltedTree/setup-rust@v1
        with:
          rust-version: stable
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - uses: denoland/setup-deno@v1
        with:
          deno-version: vx.x.x
      - name: Install dependencies
        run: npm run install
      - name: Build wasm
        working-directory: wasm
        run: |
          wasm-pack build --no-typescript --release -t web
          mv ./pkg/decancer_wasm_bg.wasm ./bin/decancer.wasm
      - name: Minify mod.ts code
        run: npm run minify
      - name: Update README.md
        run: npm run readme
      - name: Run tests
        run: npm test
      - name: Prettier core crate
        working-directory: core
        run: cargo fmt
      - name: Prettier node crate
        working-directory: node
        run: cargo fmt
      - name: Prettier wasm crate
        working-directory: wasm
        run: cargo fmt
      - name: Commit
        uses: EndBug/add-and-commit@v9
        with:
          message: 'chore: update files on commit'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}